/* HOW IT WORKS */
.how-it-works {
  background-color: #FFFFFF;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.how-it-works h2 {
  font-size: 2em;
  color: black;
  margin-bottom: 20px;
}

.how-it-works-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  max-width: 1000px;
}

.how-it-works-card {
  flex: 1 1 calc(100% / 3 - 20px);
  margin: 5px;
  background: #FFFFFF;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  border-radius: 5px;
  max-width: 200px;
}

.how-it-works-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.how-it-works-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}
